body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #131010;
}

#gameCanvas {
    border: 1px solid #000;
    background-color: #ffffff;
}
